@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-lato: "Lato", sans-serif; 
  --color-menuBlue: #C3EBFA;
  --color-rightSide: #f7f8fa;
  --color-lightBlue: #cfceff;
  --color-lightYellow: #fae27c;
  --color-agendaFirst: #f1f0ff;
  --color-agendaSecond: #fdf6d8;
  --color-agendaThird: #edf9fd;
  --color-btn: #DF97FD;
  --color-btnHover: #1976d2;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.css-1cmet5c-MuiInputBase-root-MuiInput-root {
  &::before, &::after {
    border-bottom: 0 !important;
  }
}

button {
  text-transform: none !important
}

.MuiOutlinedInput-notchedOutline {
  text-indent: -99999px !important;
}

.MuiDataGrid-cell[data-field] {
  display: flex;
  align-items: center;
  justify-content: center;
}